.competenceView-container {
    height: auto;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
    margin-top: 4rem;
    width: 100%;
    padding: 4rem;    
    display: inline-flex;
    flex-direction: row;
    background-color: var(--dark);
    color: var(--light);
  }

  .competenceView-2cols-1 {
    max-width: 50%;
  }

  .competenceView-2cols-2 {
    margin-left: 2em;
    margin-top: 2em;
    max-width: 50%;
  }

  .competenceView-2cols-2 ul {
    list-style-type: none;
  }

  .competenceView {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .competenceView li {
    color: var(--light);
  }

  .section-divider {
    display: flex;
    height: 1px;
    background-color: #fff;
    width: 100%;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    margin: 1em 0 1em 0;
  }

.competenceView h2 {
  color: var(--hightlight2);
}

.competenceView h4 {
  margin-left: 20px;
  color: var(--light);
  }

  .toggled-paragraph p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 1em;

  }