.footer {
  width: 100%;
  background-color: var(--dark);
  padding: 4rem ;
}

.footer-container {
    /* align-items: flex-start; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: space-between;
    align-content: space-between;
  }

  /* START col 1 */
  .footer-col-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    padding: 24px;
    color: var(--light);
  }
  
  .footer-col-1-heading {
    margin-bottom: 24px;
    font-size: 24px;
  }
  
  .footer-col-1-text {
    margin-bottom: 24px;
    font-size: 20px;
  }
  
  .footer-input {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid var(--light);
  }
  /* END col 1 */

  /* START col 2 */
  .footer-col-2 {
    width: 100%;
    display: flex;
    margin-bottom: 24px;
    padding: 24px;
    color: var(--light);
    justify-content: flex-end; /* Align content to the end within the col */
  }

  .footer-link-items {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  
  .footer-link-items p {
    margin-bottom: 24px;
    color: var(--light);
    font-size: 20px;
  }
  
  .footer-link-items a {
    color: var(--light);
    text-decoration: none;
    margin-bottom: 0.5rem;
    text-align: right;
  }
  
  .footer-link-items a:hover {
    color: var(--light);
    transition: 0.3s ease-out;
  }
  /* END col 2 */

  /* START copywright section */
  .copywright {
    width: 100%;
    background-color: var(--dark);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copywright p {
    color: var(--light);
    margin: 0;
    font-size: 20px;
  }
  /* END copywright section */  

  .footer-input::placeholder {
    color: var(--light);
  }
  
  /* Social Icons */
  .social-icon-link {
    color: var(--light);
    font-size: 24px;
  }
  
  .social-media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .social-logo {
    color: var(--light);
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .website-rights {
    color: var(--light);
    margin-bottom: 16px;
  }
  
  @media screen and (max-width: 820px) {
    .footer-links {
      padding-top: 2rem;
    }
  
    .footer-input {
      width: 100%;
    }
  
    .btn {
      width: 100%;
    }
  
    .footer-link-wrapper {
      flex-direction: column;
    }
  
    .social-media-wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 768px) {
  }