.footer-container {
    width: 100%;
    background-color: var(--dark);
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the start of the cross-axis */
  }

  /* START Section 1 */
  .footer-section-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;
    color: var(--light);
  }
  
  .footer-section-1-heading {
    margin-bottom: 24px;
    font-size: 24px;
  }
  
  .footer-section-1-text {
    margin-bottom: 24px;
    font-size: 20px;
  }
  
  .footer-input {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid var(--light);
  }
  /* END Section 1 */

  /* START Section 2 */
  .footer-section-2 {
    width: 50%;
    max-width: 1000px;
    display: flex;
    justify-content: flex-end; /* Align content to the end within the section */
  }
  
  .footer-link-wrapper {
    display: flex;
  }
  
  .footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
  }
  
  .footer-link-items h4 {
    margin-bottom: 16px;
    color: var(--light);
  }
  
  .footer-link-items a {
    color: var(--light);
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
  
  .footer-link-items a:hover {
    color: var(--light);
    transition: 0.3s ease-out;
  }
  /* END Section 2 */
  
  .footer-input::placeholder {
    color: var(--light);
  }
  
  /* Social Icons */
  .social-icon-link {
    color: var(--light);
    font-size: 24px;
  }
  
  .social-media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .social-logo {
    color: var(--light);
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .website-rights {
    color: var(--light);
    margin-bottom: 16px;
  }
  
  @media screen and (max-width: 820px) {
    .footer-links {
      padding-top: 2rem;
    }
  
    .footer-input {
      width: 100%;
    }
  
    .btn {
      width: 100%;
    }
  
    .footer-link-wrapper {
      flex-direction: column;
    }
  
    .social-media-wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 768px) {
  }