.social-media-icon {
    width: 40px;
    height: auto;
    position: relative;
}

.social-media-icon:hover,
.social-media-icon:focus {
    transform: scale(1.3); /* Scales the icon to 120% of its original size */
}
